body {
    background-color: #fee1a440;
}

header {
    display: flex;
    justify-content: center;
    border: 0 solid #444;
    border-bottom-width: 5px;
    margin-bottom: 5px;

    & p {
        font: 500 24px 'Ubuntu Mono', 'Fira Code', monospace;
        color: #444;
        text-align: right;
        margin: 0;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    align-self: center;
}

a {
    font: 500 20px 'Ubuntu Mono', 'Fira Code', monospace;
    color: #444;
    text-align: center;
}